<img [src]="skillsBg" alt="roses in the left top and bottom right corner" class="skillsBg" />

<h1 class="display-3" id="skills-header">Skills</h1>

<div class="content-container">
   <ul class="skills-list">
      <li class="questions">What is social tables?
         <ul>
            <li class="lead">
               Social Tables is an event diagramming, seating, design and check-in
               products providing innovative solutions to handle complex problems.
            </li>
         </ul>
      </li>
      <li class="questions">What is 3D event designer?
         <ul>
            <li class="lead">
               3D Event Designer is a 3D software that lets you create life-like floorplans,
               buffet and beverage diagrams, seating charts and inventory lists quickly.
               It is best used for vendors and clients who want to create a 3D model of
               their venue.
            </li>
         </ul>
      </li>
      <li class="questions">What is Millanote?
         <ul>
            <li class="lead">
               It is an easy-to-use tool to organize your ideas and projects into visual boards.
            </li>
         </ul>
      </li>
      <li class="questions">What is ServSafe?
         <ul>
            <li class="lead">
               It is a food and beverage safety training and certificate program administered
               by the National Restaurant Association.
            </li>
         </ul>
      </li>
      <li class="questions">Soft skills
         <ul>
            <li class="lead">Organization</li>
            <li class="lead">Time Management</li>
            <li class="lead">Problem Solving</li>
            <li class="lead">Communication</li>
         </ul>
      </li>
   </ul>
</div>

<!-- HTML for mobile devices -->
<div class="mobile-content-container">
   <ul class="list-group">
      <li class="list-group-item list-group-item-primary">What is Social Tables?
         <ul>
            <li class="q">
               Social Tables is an event diagramming, seating, design and check-in
               products providing innovative solutions to handle complex problems.
            </li>
         </ul>
      </li>
      <li class="list-group-item list-group-item-secondary">What is 3D event designer?
         <ul>
            <li class="q">
               3D Event Designer is a 3D software that lets you create life-like floorplans,
               buffet and beverage diagrams, seating charts and inventory lists quickly.
               It is best used for vendors and clients who want to create a 3D model of
               their venue.
            </li>
         </ul>
      </li>
      <li class="list-group-item list-group-item-success">What is Millanote?
         <ul>
            <li class="q">
               It is an easy-to-use tool to organize your ideas and projects into visual boards.

            </li>
         </ul>
      </li>
      <li class="list-group-item list-group-item-info">What is ServSafe?
         <ul>
            <li class="q">
               It is a food and beverage safety training and certificate program administered
               by the National Restaurant Association.
            </li>
         </ul>
      </li>
      <li class="list-group-item list-group-item-dark">Soft skills
         <ul>
            <li class="q">Organization.</li>
            <li class="q">Time Management.</li>
            <li class="q">Problem Solving</li>
            <li class="q">Communication</li>
         </ul>
         <a [href]="resumeDownloadLink" class="resumeBtn" download>
            <button type="button" class="btn btn-primary" role="button">Download My Resume</button>
         </a>
      </li>
   </ul>
</div>
