<img [src]="flowersBg" alt="winter trees and a lake" class="pageBg" />
<div class="overlay"></div>

<h1 class="display-3">Extracurricular</h1>

<div class="pic1-title">
   <p class="lead">Sorority Event</p>
</div>

<div class="pic2-title">
   <p class="lead">Emerge Event</p>
</div>

<div class="ambassador">
   <blockquote class="blockquote"><b>Student Ambassador</b></blockquote>
   <p class="lead">After careful selection, I along with 25 other students provide information about
      students, faculty, academic programs, and career opportunities in the College of Human Sciences. This is presented to
      prospective students and their families, alumni, and visiting dignitaries. I’m also involved in a
      mentoring program for freshmen within the College.</p>
</div>

<div class="emerge">
   <blockquote class="blockquote"><b>Emerge</b></blockquote>
   <p class="lead">After careful selection, I entered as a team member where we developed necessary skills
      of an effective leader and applied it to different environments. I identified areas of improvements
      for the program and continued through the program to discuss prevalent social issues and developed
      leadership philosophies and personal statements. I interviewed and was selected as a team leader to
      mentor a group of 27 Freshman and educated them about self-development and effective leadership. I
      was also involved in the events committee which included researching potential keynote speakers for
      the coming years of the program.</p>
</div>

<div class="sorority">
   <blockquote class="blockquote"><b>Social Sorority</b></blockquote>
   <p class="lead">Even though I grew up in Auburn, attending the University was a much difference experience.
      Most of my friends went to different schools so I decided I needed to branch out and meet new people.
      I knew that joining a sorority would serve as a great avenue to meet new people and form new
      connections. While in my sorority I served as the Assistant to Alumnae Relations Chair. In this
      position, I attended biweekly meetings to discuss the various upcoming events for the organization
      and assisted in planning and executing events involving alumnae and current members and their families.
      From my time in the sorority, I have met so many amazing women with so many different backgrounds giving
      me a new perspective on people and has allowed me to develop priceless friendships
      in the process.</p>
</div>

<div class="sorority-pic1">
   <img [src]="sorority" alt="Charlton in picture with her sorority big" class="pic1" />
</div>

<div class="sorority-pic2">
   <img [src]="emerge" alt="Charlton in emerge" class="pic2" />
</div>
